a{
	text-decoration:none;
	color:$accentDark;
	&:active, &:visited {
		color:initial;
	}
}

hr{
	width:85%;
	border-color:$baseLight;
}

.bold{
	font-weight: 500; 
}
.semi-bold{
	font-weight: 300;
}
.dark{
	color:$accentDark;
}
.light{
	color:$accentLight;
}

.title{
	letter-spacing: 0.2em;
	font-size: 1.5em;
}
.subtitle{
	font-size:1.1em;
}
.section-title{
	padding-bottom:0.3em;
}

.intext-divider{
	padding:0 0.5em;
}

section table{
	tr{
		td{
			padding:0;
			&:first-child {
				flex:1;
				padding: 0.5em 0;
			}
			&:last-child {
				flex:3.5;
			}
		}
	}
}
.spaced-content{
	li{
		padding:0.2em 0;
	}
}


.description{
	font-size:0.9em;
}
.tech {
	font-size:0.9em;
}