@import url(font.css);
a {
  text-decoration: none;
  color: #1c1b1c; }
  a:active, a:visited {
    color: initial; }

hr {
  width: 90%;
  border-color: #eae9ee; }

.bold {
  font-weight: 500; }

.semi-bold {
  font-weight: 300; }

.dark {
  color: #1c1b1c; }

.light {
  color: #767678; }

.title {
  letter-spacing: 0.2em;
  font-size: 1.2em; }

.subtitle {
  font-size: 1.1em; }

.section-title {
  padding-bottom: 0.1em; }

.intext-divider {
  padding: 0 0.5em; }

section table tr td {
  padding: 0; }
  section table tr td:first-child {
    flex: 1;
    padding: 0.5em 0; }
  section table tr td:last-child {
    flex: 3.5; }

.spaced-content li {
  padding: 0.12em 0; }

.description {
  font-size: 0.9em; }

.tech {
  font-size: 0.9em; }

.row, .col {
  display: flex;
  flex-wrap: wrap; }

.row {
  flex-direction: row; }

.col {
  flex-direction: column; }

.cover {
  flex: 1; }

.center {
  justify-content: center; }

.flex-end {
  justify-content: flex-end; }

.flex-start {
  justify-content: flex-start; }

.space-around {
  justify-content: space-around; }

.space-between {
  justify-content: space-between; }

.align-center {
  align-items: center; }

.align-start {
  align-items: flex-start; }

.align-end {
  align-items: flex-end; }

.align-stretch {
  align-items: stretch; }

.align-base {
  align-items: baseline; }

.self-end {
  align-self: flex-end; }

.wrap {
  flex-wrap: wrap; }

.wrap-reverse {
  flex-wrap: wrap-reverse; }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

.full-width-height {
  width: 100%;
  height: 100%; }

body, li {
  padding: 0;
  margin: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

header a {
  font-size: 0.9em; }

header .title {
  font-size: 2.6em; }

header .subtitle {
  font-size: 1.8em; }

header .spaced-content li {
  padding: 0.1em 0; }

.hexagon-container i, .hexagon-container span {
  position: absolute;
  color: #eae9ee;
  font-size: 2.3em; }

#skills .tag {
  margin: 0.3em 0.4em;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  background-color: #767678;
  color: #eae9ee; }

#projects a {
  font-size: 0.9em;
  color: #6f9fd4; }

#projects .date {
  padding-bottom: 0.1em; }

#projects .small {
  font-size: 0.8em; }

#experience .description span {
  padding: 0.2em 0; }

#experience .date {
  padding: 0.1em 0; }

#letter {
  font-size: 1em; }
  #letter .section {
    width: 90%;
    padding: 0.8em 0; }
  #letter .close span, #letter .address span {
    padding: 0.1em 0; }
  #letter .body {
    line-height: 1.25em; }
    #letter .body .link {
      color: #6f9fd4; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  width: 100vw;
  background-color: #e7e6eb;
  font-size: 0.8em; }

header {
  width: 100%; }

section {
  width: 80%; }

@media print {
  body {
    -webkit-print-color-adjust: exact;
    transform: scale(0.95);
    margin-top: 0mm;
    margin-bottom: 0mm;
    font-size: 0.85em; }
  .pdf-container {
    display: none; } }

@page {
  margin-top: 0cm;
  margin-bottom: 0cm; }

.pdf-container {
  position: absolute;
  font-size: 2em;
  right: 1em;
  top: 1em;
  transition: 0.4s all; }
  .pdf-container i {
    cursor: pointer; }
  .pdf-container:hover {
    color: #e13d3e; }

@media screen and (max-device-width: 500px) {
  body {
    padding: 1em 0.5em;
    font-size: 1.65em; } }
