@import 'font.css';

@import 'partials/variables';
@import 'partials/base';
@import 'partials/layout';

@import 'partials/header';
@import 'partials/skills';
@import 'partials/projects';
@import 'partials/experience';
@import 'partials/cover_letter';

body {
  font-family: $fontBody;
  font-weight: 100;
  width:100vw;
  background-color:$bg;
  font-size:0.8em;
}
header {
	width: 100%;
} 
section {
  width:80%;
}

@media print {
	body {
		-webkit-print-color-adjust: exact;
		transform:  scale(0.95);
		margin-top: 0mm; margin-bottom: 0mm; 
		font-size: 0.85em;
	}
	.pdf-container{
		display:none;
	}
}
 @page {
    margin-top: 0cm;
    margin-bottom: 0cm;
 }

.pdf-container{
	position:absolute;
	font-size:2em;
	right: 1em; top: 1em;
	transition: 0.4s all;
	i { cursor: pointer; }
	&:hover{ color: $adobe; }
}

@media screen and (max-device-width: 500px)  {
	body{
		padding: 1em 0.5em;
		font-size: 1.65em;
	}
}