@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400');

@import './variables.scss';

body {
	background-color: $light;
	color: $dark;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
}
