$light: #fff;
$dark: #484848;
$darkfade: lighten($dark, 10%);
// $accent: #c06c84; //dark pink
$accent: #f56e70; // pink
// $accent: #f56e70;
// $accent: #c9d8c5; // pastel green
// $accent: #729f98; //sea teal
// $accent: #daad86; //beige-brown
// $accent: #98dafc; //light blue
// $accent: #62bcfa; // ^more solid version blue



// https://digitalsynopsis.com/design/minimal-web-color-palettes-combination-hex-code/
// https://www.behance.net/gallery/28828421/Free-Resume-Template
// https://www.behance.net/gallery/50623817/Free-Resume
