@import 'font.css';

@import 'partials/variables';
@import 'partials/base';
@import 'partials/layout';

@import 'partials/header';
@import 'partials/skills';
@import 'partials/projects';
@import 'partials/experience';

body {
  font-family: $fontBody;
  font-weight: 100;
  width:100vw;
  background-color:$bg;
  font-size:0.9em;
}
header {
	width: 100%;
} 
section {
  width:80%;
}

@media print {
	body {
		-webkit-print-color-adjust: exact;
		transform: scale(0.9);
		margin-top: 0mm; margin-bottom: 2mm; 
	}
	.pdf-container{
		display:none;
	}
}
 @page {
    margin-top: 0cm;
    margin-bottom: 0.2cm;
 }

.pdf-container{
	position:absolute;
	font-size:2em;
	right: 1em; top: 1em;
	transition: 0.4s all;
	i { cursor: pointer; }
	&:hover{ color: $adobe; }
}


// https://dribbble.com/shots/1952826-Resume-CV-Brice
// https://dribbble.com/shots/1909799-Resume-CV-Bailey
// https://dribbble.com/shots/1552846-CV
// http://cdn.hloom.com/images/277-Discreetly-Modern.jpg

// http://stackoverflow.com/questions/3341485/how-to-make-a-html-page-in-a4-paper-size-pages
